@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 1rem)); /* moitié + gap */
  }
}

.animate-scroll-x {
  animation: scroll 30s linear infinite;
}

/* Pause animation on hover */
.animate-scroll-x:hover {
  animation-play-state: paused;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

